/* CSS Document */
@charset "utf-8";
@font-face {
  font-family: BadScript;
  src: url("../src/font/Bad Script Regular.ttf");
}
*{margin:0; padding:0px;}
body{font-size:14px;font-family: BadScript;background:#E3E3E5 url(../src/img/bg.jpg)  50% top scroll no-repeat;color:#5d5d5d;}
a{text-decoration:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
li{list-style:none;}
img{display:block;border:0px;}

/*end*/
#header{width:1000px;height:100px;margin:0 auto;}
#header h1{font-size:24px;color:#664666;padding:5px 0 5px 15px;font-weight:600;}
#header p{font-size:18px;color:#DB5E5E;font-weight:500;}
#header .logo{width:100px;height:100px;}
#header .titlename{width: 800px;height:100px;}
