#header_index {
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    height: 100px;
    background-color: white;
}
#header_img {
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    width: 100px;
    height: 100px;
    background-image: url(/src/img/docatg.png);
}
#wrapper {
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-align: left;
    background-color: green;
}
